<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="filebrowser.Application">
         </run>
      </application>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            name="RCP Perspective"
            class="filebrowser.Perspective"
            id="FileBrowser.perspective">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            allowMultiple="true"
            class="views.BrowserView"
            id="FileBrowser.browserView"
            name="Browser"
            restorable="true">
      </view>
      <view
            class="views.PathView"
            id="FileBrowser.pathView"
            name="Path"
            restorable="true">
      </view>
      <view
            class="views.TestOutlineView"
            id="FileBrowser.testOutlineView"
            name="Outline"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="editors.MyTextEditor"
            default="false"
            extensions="txt"
            id="FileBrowser.MyTextEditor"
            name="MyTextEditor">
      </editor>
      <editor
            class="editors.ImageEditor"
            default="false"
            id="FileBrowser.ImageEditor"
            name="ImageEditor">
      </editor>
      <editor
            class="editors.ChartEditor"
            default="false"
            id="FileBrowser.chartEditor"
            name="ChartEditor">
      </editor>
      <editor
            class="editors.MyGraphicalEditor"
            default="false"
            id="FileBrowser.myGraphicalEditor"
            name="MyGraphicalEditor">
      </editor>
      <editor
            class="editors.MultiChartEditor"
            default="false"
            id="FileBrowser.MultiChartEditor"
            name="MultiChartEditor">
      </editor>
      <editor
            class="editors.BMPViewer"
            default="false"
            id="FileBrowser.BMPViewer"
            name="BMPViewer">
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="handlers.ExitHandler"
            id="FileBrowser.command.Exit"
            name="Exit">
      </command>
      <command
            id="FileBrowser.command.About"
            name="About">
      </command>
      <command
            defaultHandler="handlers.ExpandHandler"
            id="FileBrowser.Expand"
            name="Expand">
      </command>
      <command
            defaultHandler="handlers.CollapseHandler"
            id="FileBrowser.CollapseAll"
            name="CollapseAll">
      </command>
      <command
            defaultHandler="handlers.FileOpenHandler"
            id="FileBrowser.fileOpen"
            name="Open File">
      </command>
      <command
            defaultHandler="handlers.FileInfoHandler"
            id="FileBrowser.command.FileInfo"
            name="File Info">
      </command>
      <command
            id="FileBrowser.command.fileCopy"
            name="Copy">
      </command>
      <command
            defaultHandler="handlers.NomalConnectionRouterHandler"
            id="FileBrowser.command.nomalConnectionRouter"
            name="Nomal Connection Router">
      </command>
      <command
            defaultHandler="handlers.ManhattanConnectionRouterHandler"
            id="FileBrowser.command.manhattanConnectionRouter"
            name="Manhattan Connection Router">
      </command>
      <command
            defaultHandler="handlers.NomalTreeLayoutAlgorithmHandler"
            id="FileBrowser.command.nomalTreeLayoutAlgorithm"
            name="Nomal Tree Layout Algorithm">
      </command>
      <command
            defaultHandler="handlers.HorizontalTreeLayoutAlgorithmHandler"
            id="FileBrowser.command.horizontalTreeLayoutAlgorithm"
            name="Horizontal Tree Layout Algorithm">
      </command>
      <command
            defaultHandler="handlers.ZoomInHandler"
            id="FileBrowser.command.zoomIn"
            name="Zoom In">
      </command>
      <command
            defaultHandler="handlers.ZoomOutHandler"
            id="FileBrowser.command.zoomOut"
            name="Zoom Out">
      </command>
      <command
            defaultHandler="handlers.HorizontalShiftLayoutAlgorithmHandler"
            id="FileBrowser.command.horizontalShiftLayoutAlgorithm"
            name="Horizontal Shift Layout Algorithm">
      </command>
      <command
            defaultHandler="handlers.GridLayoutAlgorithmHandler"
            id="FileBrowser.command.gridLayoutAlgorithm"
            name="Grid Layout Algorithm">
      </command>
      <command
            defaultHandler="handlers.ChartStyleChangeHandler"
            id="FileBrowser.command.CSC"
            name="Style Change">
      </command>
      <command
            defaultHandler="handlers.TickUnitChangeHandler"
            id="FileBrowser.command.TUCD"
            name="Tick Unit Change">
      </command>
      <command
            defaultHandler="handlers.GetBestFitLineHandler"
            id="FileBrowser.command.BestFit"
            name="Get Best Fit">
      </command>
      <command
            defaultHandler="handlers.AnnotationClearHandler"
            id="FileBrowser.command.ClearAnno"
            name="Clear Annotation">
      </command>
      <command
            defaultHandler="handlers.RangeSetHandler"
            id="FileBrowser.command.RangeSet"
            name="Set Range">
      </command>
      <command
            defaultHandler="handlers.SelectSeriesForAxisHandler"
            id="FileBrowser.command.SelectSeries"
            name="Select Series">
      </command>
      <command
            defaultHandler="org.eclipse.ui.internal.handlers.SaveHandler"
            id="FileBrowser.command.Save"
            name="Save">
      </command>
      <command
            defaultHandler="org.eclipse.ui.internal.handlers.SaveAllHandler"
            id="FileBrowser.command.SaveAll"
            name="Save All">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:org.eclipse.ui.main.menu">
         <menu
               id="fileMenu"
               label="File">
            <command
                  commandId="FileBrowser.fileOpen"
                  label="Open File"
                  style="push"
                  tooltip="open select file">
            </command>
            <command
                  commandId="FileBrowser.command.Exit"
                  label="Exit"
                  style="push"
                  tooltip="Exit the application">
            </command>
         </menu>
         <menu
               id="helpMenu"
               label="Help">
            <command
                  commandId="FileBrowser.command.About"
                  label="About"
                  style="push"
                  tooltip="Popup dialog">
            </command>
            <command
                  commandId="org.eclipse.ui.window.preferences"
                  label="Custom preferences"
                  style="push">
            </command>
         </menu>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="toolbar:org.eclipse.ui.main.toolbar">
         <toolbar
               id="FileBrowser.toolbar">
            <command
                  commandId="FileBrowser.command.About"
                  icon="icons/alt_window16.gif"
                  label="About"
                  style="push">
            </command>
            <command
                  commandId="FileBrowser.command.SaveAll"
                  icon="icons/folder_for_text.png"
                  label="Save All"
                  style="push">
            </command>
         </toolbar>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="toolbar:FileBrowser.browserView">
         <command
               commandId="FileBrowser.Expand"
               icon="icons/expand.png"
               label="Expand"
               style="push"
               tooltip="Expand file tree to level 3">
         </command>
         <command
               commandId="FileBrowser.CollapseAll"
               icon="icons/collapse.png"
               label="Collapse All"
               style="push"
               tooltip="Collapse all file tree">
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="toolbar:FileBrowser.ImageEditor">
         <command
               commandId="FileBrowser.command.About"
               icon="icons/folder.png"
               label="About"
               style="push">
         </command>
         <command
               commandId="FileBrowser.command.FileInfo"
               icon="icons/zoomin.png"
               label="File Info"
               style="push">
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="toolbar:FileBrowser.MyTextEditor">
         <command
               commandId="FileBrowser.command.About"
               icon="icons/folder.png"
               label="About"
               style="push">
         </command>
         <command
               commandId="FileBrowser.command.Save"
               icon="icons/save.png"
               label="Save"
               style="push">
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="popup:FileBrowser.browserView">
         <command
               commandId="FileBrowser.Expand"
               label="Expand to Level 3"
               style="push">
         </command>
         <command
               commandId="FileBrowser.CollapseAll"
               label="Collapse All"
               style="push">
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="popup:FileBrowser.ImageEditor">
         <command
               commandId="FileBrowser.command.FileInfo"
               icon="icons/zoomin.png"
               label="File Info"
               style="push">
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="toolbar:FileBrowser.MyGraphicalEditor">
         <control
               class="utils.ControlConnectionRouter">
         </control>
         <control
               class="utils.ControlLayoutAlgorithm">
         </control>
         <command
               commandId="FileBrowser.command.zoomIn"
               icon="icons/ZoomIn.ico"
               style="push">
         </command>
         <command
               commandId="FileBrowser.command.zoomOut"
               icon="icons/ZoomOut.ico"
               style="push">
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="toolbar:FileBrowser.ChartEditor">
         <command
               commandId="FileBrowser.command.About"
               icon="icons/folder.png"
               label="About"
               style="push">
         </command>
         <command
               commandId="FileBrowser.command.CSC"
               icon="icons/zoomin.png"
               label="Style Change"
               style="push">
         </command>
         <command
               commandId="FileBrowser.command.TUCD"
               icon="icons/favicon.ico"
               id="Tick Unit"
               style="push">
         </command>
         <command
               commandId="FileBrowser.command.BestFit"
               icon="icons/Layout.ico"
               label="Best Fit"
               style="push">
         </command>
         <command
               commandId="FileBrowser.command.ClearAnno"
               icon="icons/File.ico"
               label="Clear Annotation"
               style="push">
         </command>
         <separator
               name="FileBrowser.separator1"
               visible="true">
         </separator>
         <command
               commandId="FileBrowser.command.RangeSet"
               icon="icons/Folder.ico"
               label="Set Range"
               style="push">
         </command>
         <command
               commandId="FileBrowser.command.SelectSeries"
               icon="icons/ZoomOut.ico"
               label="Select Series For Axis"
               style="push">
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="FileBrowser.command.Exit"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+X">
      </key>
      <key
            commandId="FileBrowser.Expand"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+1">
      </key>
      <key
            commandId="FileBrowser.CollapseAll"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+2">
      </key>
      <key
            commandId="FileBrowser.command.zoomIn"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+9">
      </key>
      <key
            commandId="FileBrowser.command.zoomOut"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+0">
      </key>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="handlers.AboutHandler"
            commandId="FileBrowser.command.About">
         <enabledWhen>
            <with
                  variable="activePart">
               <instanceof
                     value="views.BrowserView">
               </instanceof>
            </with>
         </enabledWhen> 
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="utils.CustomPreferencePage"
            id="FileBrowser.page.CustomPreferencePage"
            name="Custom Preference">
      </page>
   </extension>

</plugin>
